* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black;
    color: bisque;
}

header {
    width: 100%;
}

.imgbox {
    width: 100%;
    position: relative;
}

.center-fit {
    text-align: center;
    color: white; 
}

.welcome {
    font-family: "Sofia", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: bisque;
    text-align: center;
}
/* navigation section */

.navbar {
    background-color: rgb(235, 191, 139);
    border-bottom: 1px solid #466a9571;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
}

ul {
    margin: 10px auto;
    padding: 0 20px;
    text-align: center;
}

li {
    font-family: "Prompt", sans-serif;
    color: black;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    display: inline-block;
    margin: 0 10px;
    padding: 10px;
}

li:hover {
    background-color: white;
}

/* About Us section*/


.aboutus-container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    margin: 100px;
    padding: 10px;
}

.aboutus-container h2 {
    text-align: center;
}

.aboutus-text {
    width: 50%;
    margin-right: 50px;
}

.aboutus-img {
    width: 50%;
}

/* Menu section */


.menu-container {
    display: flex;
    align-items: center;
    margin: 100px;
    padding: 10px;
}

.menu-container h2 {
    text-align: center;
}

.menu-text {
    width: 50%;
}

.menu-img {
    width: 50%;
    margin-right: 50px;
}

.menu-container button {
    display: block;
    margin: 0 auto;
    width: 150px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    color: rgb(0, 0, 0);
    background-color: rgb(206, 183, 146);
    font-size: medium;
    font-weight: 900;
}


/* Media Query for samler Screens (Smartphones) */
@media screen and (max-width: 768px) {
    .welcome {
        top: 40%;
        font-size: 1.5vw; 
        padding: 0 10px;
        width: 15vw; 
    }
    .navbar {
        position: relative;
        top: 0;
    }

    ul {
        display: flex;
        flex-direction: column;
    }

    li {
        width: 100%;
        text-align: center;
        padding: 15px;
        font-size: 14px;
        border-left: none;
    }

    .aboutus-container {
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 5px;
        align-items: center;
        width: 100%;
    }

    .menu-container {
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 5px;
        align-items: center;
        width: 100%;
    }

    .aboutus-text {
        margin-right: 0%;
    }

    .menu-img {
        margin-right: 0%;
    }
}

/* Media Query for tablets etc */
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .welcome {
        top: 45%;
        font-size: 0.5vw; 
    }
    .navbar {
        position: relative;
        top: 40%;
    }

    li {
        width: 10%;
        padding-right: 200px;
        border-left: solid 5px black;
    }
}

/* Media Query for bigger Screens (PCs) */
@media screen and (min-width: 1201px) {
    .welcome {
        top: 36%;
        font-size: 1vw; 
    }

    .navbar {
        position: sticky;
        top: 5px;
    }

    li {
        width: 10%;
        padding-right: 200px;
        border-left: solid 5px black;
    }
}
